body{
    width: 1200px;
    height: 2120px;
    font-size: 16px;
    margin: auto;
    background-color: grey;
}
header{
    width: 100%;
    height: 633px;
    background-image: url('../img/hd_back.png');
    color:white;
    padding-top: 1px;
}
header>div:first-child{
    background: rgba(0,0,0,.5);
}

@media screen and (min-width: 1200px) and (max-width: 2400px){
    #hd_icons>a>img{
        margin-top: 40px;
    }
    #form_block{
        margin-top: 50px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    #hd_icons>a>img{
        margin-top: 0px;
    }
    #form_block{
        margin-top: 0px;
    }
}

@media (min-width: 992px) and (max-width: 2400px){
    /* ---logo_1---- */
    header>div>div>div{
        height: 140px;
    }
    #hd_menu{
        margin-top:50px;
    }
    #hd_menu>div{
        padding-right:40px;
    }
    #hd_icons{
        height: auto;
    }
    #logo_1{
        padding-top: 24px;
        padding-left: 98px;
    }
    #logo_2{
        height: 17px;
        margin-left: 48px;
    }
    /* ---о нашей супер компании---- */
    #super_ko{
        padding-top: 60px;
    } 
    #graf>div:nth-of-type(1){ 
        margin-top: 20px;
        margin-left: 115px;
    }
    #graf>div:nth-of-type(2){    
        margin-top: 40px;
    }
    #more{ 
        margin-top: 20px;
    }
    p{
        text-align: center;
    }   
}

@media (min-width: 500px) and (max-width: 991px){
    /* ---logo_1---- */
    header>div>div>div{
        height: 80px;
    }
    #hd_menu{
        margin-top:10px;
    }
    #hd_menu>div{
        padding-right: 0px;
    }
    #hd_icons{
        height: 33px;
        margin-top: -30px;
    }
    #hd_icons>a>img{
        margin-top: 0px;
    }
    #form_block{
        margin-top: 20px;
    }
    /* ---о нашей супер компании---- */
    #super_ko{
        padding-top: 0px;
    }
    #graf>div:nth-of-type(1){ 
        margin-top: 0px;
        margin-left: 0px;
    }
    #graf>div:nth-of-type(2){    
        margin-top: 0px;
    }
    #more{ 
        margin-top: 0px;
    }
    p{
        text-align: left;
        margin-left: 180px;
    }
}

#hd_menu>div:nth-child(2){
    color:green;
}
#hd_icons>a>img{
    padding-right: 20px;
}

/* -----------input form---------- */
header>div:nth-of-type(3)>div>div:nth-of-type(1){
    height: 1px;
}
#form_block{
    width: 351px;
    height: 388px;
    background: rgba(0,0,0,.7);
}
legend{
    width: 230px;
    height: 60px;
    font-size: 28px;
    line-height: 25px;
    text-align: justify;
    margin-top: 50px;
    margin-left: 50px;
}
legend>span{
    text-transform: uppercase;
}
#form_inp>input{
    width: 251px;
    margin: auto;
    border-left:none;
    border-right: none;
    border-top:none;
    border-bottom: 2px solid white;
    background: inherit;
    color:white;
    font-size: 24px;
    text-align: center;
}
#btn_reg{
    width: 261px;
    height: 50px;
    font-size: 24px;
    background-color: #0aa321;
    padding-top: 0px;
    margin-top: 30px;
    margin-left: 15px;
}
/* -------------------main-------------- */
main{
    width: 1200px;
    height: 450px;
    background-color: white;
}
#super_ko{
    font-size: 46px;
}
#graf>div:nth-of-type(1){ 
    height: 230px;
}
#graf>div:nth-of-type(2){    
    width: 500px;
    height: 230px;
    font-size: 14px;
    text-align: left;
}
#more{ 
    margin-left: 55px;
}
#more>a{
    color:green;
    font-size: 18px;
    text-decoration: none;
}
a{
    color:white;
    text-decoration: none;
}
/* -------------------nav-------------- */
nav{
    width: 100%;
    min-height: 420px;
    color:white;
    background-image: url('../img/nv_back.png');
    background-size: 100% 100%;
}
nav p{
    font-size: 48px;
    text-transform: capitalize;
}
nav>div:first-of-type{
    background: rgba(0,0,0,.5); 
}
#nav_grid>div{
    font-size: 18px;
    margin-left: 100px;
}
#nav_grid>div:nth-of-type(1){
    margin-top: 30px;
}
#nav_grid>div:nth-of-type(2){
    margin-top: 50px;
}
#nav_grid>div:nth-of-type(3){
    margin-top: 50px;
}
#nav_grid>div>div{
    text-align: center;
}
/* -------------------section-------------- */
section{
    width: 100%;
    height: 30vw;
    background-color: white;
}
/* -------------------footer-------------- */
footer{
    width: 100%;
    min-height: 160px;
    background-color: black;
    color:white;
}
#ft_menu{
    margin-top: 40px;
}
div>a:hover{
    color:green;
}
#ft_icons img{
    height: 25px;
    margin-top: 20px;
    margin-left: 40px;
}
#ft_cprt{
    font-size: 14px;
    margin-top: 10px;
    text-align: right;
}